#container{
	margin-top: 250px;
	text-align: center;
}

.mt40 {
	margin-top: 40px;
}

.loader {
	margin-top: 70px;
}

.messagePanel {
	width: 400px;
	margin-right: auto;
  margin-left: auto;
  margin-top: -103px;
}

.hr1 {
	width: 50%;
	margin-top: 40px;
}